<div id="sellContent" class="tab-content">
    <div class=" flex flex-row items-center justify-around py-12 gap-8">
      <div class="w-full max-w-screen-xl px-4 mx-auto lg:px-12">
        <div class="relative overflow-hidden bg-white shadow-md rounded-lg border border-gray-200">
          <div class="flex flex-row items-center justify-between p-4 space-x-4">
            <div>
              <h5 class="text-xl font-semibold text-gray-900 mb-2">Clients' Invoices</h5>
              <p class="text-gray-500 text-sm">Manage all your existing invoices or create a new one</p>
            </div>
            <button id="new-btn" onclick="showSidebar()" type="button"
              class="flex items-center justify-center px-4 py-2 text-sm font-medium text-white bg-purple-600 hover:bg-purple-700 rounded-lg focus:ring-4 focus:ring-purple-300">
              <svg xmlns="http://www.w3.org/2000/svg" class="size-6 mr-2 -ml-1" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="1.5">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
              </svg>
              New Invoice
            </button>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-5">
    <!-- Fetching invoices -->
    <% clientInvoices.forEach(({ _id, id, name, item_name, item_weight, total_price, updatedAt })=> {
      const date = new Date(updatedAt);
      const formattedDate = `${date.getDate().toString().padStart(2, "0")}-${(date.getMonth() + 1)
      .toString()
      .padStart(2, "0")}-${date.getFullYear()}`;
      %>
      <div data-id="<%= _id %>"
        class="openInvoice flex flex-row items-center justify-between border border-gray-200 hover:border-purple-500 cursor-pointer rounded-lg my-4 py-6 px-4 bg-white gap-7">
        <div class="flex flex-col md:flex-row gap-3 md:gap-12 items-center justify-center">
          <p class="text-black text-sm lg:text-base mb-2"><b class="text-blue-300">#</b>
            <%= id %>
          </p>
          <p class="text-gray-400 text-sm lg:text-sm">
            <%= formattedDate %>
          </p>
          <p class="text-gray-400 text-sm lg:text-sm capitalize">
            <%= name %>
          </p>
        </div>
        <div class="flex flex-col md:flex-row gap-3 md:gap-12 items-center justify-center">
          <p class="text-gray-400 text-sm lg:text-sm capitalize">
            <%= item_name %>
          </p>
          <p class="text-gray-400 text-sm lg:text-sm"><b>Rs.<%= total_price %></b></p>
          <svg class="svgicon" width="7" height="10" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1l4 4-4 4" stroke="#7C5DFA" stroke-width="2" fill="none" fill-rule="evenodd" />
          </svg>
        </div>
      </div>
      <% }); %>


        <!-- OVERLAY -->
        <div id="overlay" onclick="hideSidebar();closeInvoice() "
          class="bg-gray-800 bg-opacity-40 w-screen h-screen fixed inset-0 hidden">
        </div>
  </div>